* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.box {
  height: 100vh;
  background: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-style: italic;
}

.example {
  background: #95999b;
}
